@keyframes arrow_left {
    0%{
        transform: rotate(45deg) translate(0px);
    }
    50%{
        transform: rotate(45deg) translate(-20px,20px);
    }
    100%{
        transform: rotate(45deg) translate(0px);
    }
}

@keyframes arrow_right {
    0%{
        transform: rotate(180deg+45deg) translate(0px);
    }
    50%{
        transform: rotate(180deg+45deg) translate(-20px,20px);
    }
    
    100%{
        transform: rotate(180deg+45deg) translate(0px);
    }
}