@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&display=swap');

h1,h2,h3,h4,h5,button,a{
    font-family: 'Cormorant Garamond', serif;
    font-weight: lighter;
  }
  div,p,span{
    font-family: 'Cormorant SC', serif;

  }