
body{
    .cursor{
        position: absolute;
        width: 4rem;
        height: 4rem;
        top:0;
        left: 0;
        background: black;
        transform: translate(-50%,-50%);
        border-radius: 50%;
        mix-blend-mode: multiply;
    }
}