.gallery_cover{
    padding: 4em 8em;
    h1{
        font-size: 8em;
        font-weight: 200;
        color: var(--primary_color);
    }
    .gallery{
        z-index: 2;
        columns: 4;
         gap: 0em;
        .img_wrapper{
            position: relative;
            border: 1px solid transparent;
            border-radius: 20px;
            overflow: hidden;
            margin: 1em .5em;
            max-width:100%;
            
            &:before{
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                z-index: 5;
                width: 100%;
                height: 100%;
                // background-color: white;
                opacity: .5;
                visibility: visible; 
                &:hover{
                background-color: rebeccapurple;
                }
            }
           
            .images{
                position: relative;
                z-index: 2;

                display:block;
                cursor: pointer;
                max-width:100%;
                max-height: 100%;
                transition: 1s ease-in-out transform;
            }

        }
    }
}
@import "../global/globalCss/CustomAnime.scss";


@import "../global/globalCss/global.scss";
@media screen and (min-width:$labtop) and (max-width:$pc){}
@media (min-width:$mobile) and (max-width:$labtop){
    .gallery_cover{
        padding:3em;
        h1{
            font-size: 6em;
        }
        .gallery{
            columns: 3;
        }
    }
}
@media (max-width:$mobile) {
    .gallery_cover{
        padding:2em;
        h1{
            font-size: 5em;
        }
        .gallery{
            columns: 2;
        }
    }
}
