.Home{
    background: linear-gradient(170deg, rgba(255,255,255,1) 1%, rgba(255,250,192,1) 44%, rgb(252, 240, 171) 100%);

}
.video_wrapper{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    &:before{
        height: 100%;
        width: 100%;
        content: '';
        top: 0;
        left: 0;
        background-color: azure;
        z-index: 5;
    }
    video{
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: 0
    }
}

@import "../global/globalCss/global.scss";
@media screen and (min-width:$labtop) and (max-width:$pc){}
@media (min-width:$mobile) and (max-width:$labtop){
    .video1{
        height: 100vh;
        width: auto;
    }
}
@media (max-width:$mobile) {
    .video1{
        height: 70vh;
        width: auto;
    }
}