
.lightbox_wrapper{
    z-index: -1;
    position: fixed;
    // visibility:hidden;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color:rgba(0, 0, 0, 0.7);
    transition: 1s all ease-in-out;
    .lightbox{
        position: relative;
        width: 65%;
        height: 85%;
            .lightbox_inner{
                position: relative;
                height: 100%;
                object-fit: contain;
            img{
                max-height: 99%;
                object-fit: contain;
                
            }
            button{
                position:absolute;
                top:1em;
                right:.7em;
                background-color: var(--primary_color);
                color: var(--button_active_color);
                font-weight: bold;
                border: 1px solid transparent;
                border-radius: 20%;
                font-size: 1em;
                transition: 1s ease-in-out;
                cursor: pointer;
                &:hover{
                    background-color: var(--secondary_color);
                }
            }
        }
    }
}

@import "../global/globalCss/global.scss";
@media screen and (min-width:$labtop) and (max-width:$pc){}
@media (min-width:$mobile) and (max-width:$labtop){}
@media (max-width:$mobile) {}