.layer{
    .cube_wrapper{
        height: 100vh;
        filter: blur(1.2);
        background-image: url('https://picsum.photos/seed/picsum/2000/3000');
        background-position: center;

        .cube{
            background-color: blue;
            position: relative;
            height: 600px;
            width: 600px;
            
            .button{
                position: absolute;
                top:0;
                right:0;
            }
        }
    }
}


@import "../global/globalCss/CustomAnime.scss";
@import "../global/globalCss/global.scss";
@media screen and (min-width:$labtop) and (max-width:$pc){}
@media (min-width:$mobile) and (max-width:$labtop){}
@media (max-width:$mobile) {}