
.poster{
    height: auto;
    width: 100vw;
}

.parallax{
    padding:0rem 15rem 5rem;
    width: auto;
    background-repeat: no-repeat!important;
    background-position: center!important;
    background-attachment: fixed!important;
    background-size: cover!important;
    background-color: rgb(189, 189, 189);
    background-blend-mode:multiply!important;
    border:none;
    font-size: 2.5rem;
}

.button{
    background: none;
    background-repeat: no-repeat!important;
    background-position: center!important;
    background-size: cover!important;
    border: none;
    font-size: 2rem
}

.poster_button{
    .button{
        height:100vh;
        font-size: 8rem;
        font-style: italic;
        transition: 1s ease-in-out;
        &:hover{
            background-color: rgba(255, 255, 255, 0.442);
            background-blend-mode:color-burn!important;
        }
    }
}


@import "../global/globalCss/global.scss";
@media screen and (min-width:$labtop) and (max-width:$pc){
    .parallax{
        padding:0rem 6rem 2.5rem;
        font-size: 2rem;
    }
}
@media (min-width:$mobile) and (max-width:$labtop){
    .parallax{
        padding:0rem 5rem 2.5rem;
        font-size: 2rem;
    }
    .button{
        font-size: 2rem;
    }
    .poster_button{
        .button{
            height:100vh;
            font-size: 5rem;
        }
    }
}
@media (max-width:$mobile) {
    .parallax{
        padding:0rem 2rem 2.5rem;
        font-size: 1.5rem;
    }
    .poster_button{
        display: block;
        .button{
            width: 100%!important;            
            font-size: 5rem;
        }
    }
}